<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cerca per id</title>
    <!-- <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
    <style>
      body {
        background-color: #F5F4EF;
      }
      #mapid { height: 400px; }
    </style>
  </head>
  <body>
    <h1>Cerca un impianto (tramite ID) nel comune di Milano:</h1>
    <!-- form per effettuare richiesta get-->
    <form>
        <p>
          <label for="idImpianto">ID:</label>
          <input type="number" class="form-control" id="idImpianto" name="idImpianto" required>
        </p>
        <button type="button" class="btn" id="btn">Cerca impianto</button>
        <button type="reset" class="btn">Annulla</button>
      </form>
    <div style="float:left; width:400px; height:150px;" id="result">
    </div>
    <div style="float:left; width:400px; height:400px;" id="mapid"></div>
    <div style="clear:both"></div>
    <script>
      btn = document.getElementById('btn');
      
      const attribution ='&copy; <a href="htts://www.openstreetmap.org/copyright"> OpenStreetMap </a>contributors';
      const tUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
      const tiles = L.tileLayer(tUrl, {attribution})
      var map = L.map('mapid');
      tiles.addTo(map);
      const latMilano = 45.4613;
      const longMilano = 9.1595;
      map.setView([latMilano, longMilano], 11);
      
      // funzione che fa la request al server e invoca le funzioni per visualizzare il risultato (e visualizzare anche il marker sulla mappa)
      async function setup() {
        var id = document.getElementById('idImpianto').value;
        var url = 'getImpianto?' + 'idImpianto=' + id;
        var response = await fetch(url, {
          Method: 'GET',
          Headers: {
            'Content-Type': 'application/json'
          }
        });
        var result = await response.json();
        // visualizzazione errore 404
        if (result[0] == null)
          document.getElementById('result').innerHTML = "Impossibile trovare l'impianto desiderato, prova a cambiare l'id!";
        else {
          mostraRisultato(result);
          creaMappa(result);
        }
      }
      
      // funzione che scrive le info dell'impianto
      async function mostraRisultato(result) {
        var div = document.getElementById('result');
        div.innerHTML = "";
        let headers = ['idImpianto', 'Gestore', 'Bandiera', 'Tipo Impianto', 'Nome Impianto', 'Indirizzo', 'Comune', 'Provincia', 'MUNICIPIO', 'ID_NIL', 'NIL', 'Longitudine', 'Latitudine', 'Location'];
        // formattazione del risultato
        for (var i = 0; i < headers.length; i++) {
           div.innerHTML += "<b>" + headers[i] + "</b>: " + result[0][headers[i]] + "<br>";
        }
      }
      
      // funzione che visualizza il marker dell'impianto
      async function creaMappa(result) {
        var long = parseFloat(result[0]['Longitudine']);
        var lat = parseFloat(result[0]['Latitudine']);
        if (!isNaN(long) && !isNaN(lat)) { // controllo conversione coordinate
          var descrizione = "idImpianto: " + result[0]['idImpianto'] + "<br>" + "nome: " + result[0]['Nome Impianto'];
          var markerStruttura = new L.LatLng(lat, long);
          var marker = new L.Marker(markerStruttura);
          map.addLayer(marker);
          marker.bindPopup(descrizione);
        }
      }
      btn.onclick = setup;
    </script>
  </body>
</html>